################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Codebase/.vs/SmiteNoobLeague
/Codebase/obj
/Codebase/Properties
/Codebase/appsettings.json
/Codebase/appsettings.Development.json
/SmiteNoobLeague/.vs/SmiteNoobLeague/v16
/SmiteNoobLeague/obj
/SmiteNoobLeague/appsettings.json
/SmiteNoobLeague/appsettings.Development.json
/SmiteNoobLeague/Properties
