################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Codebase/.vs/SmiteNoobLeague
/Codebase/obj
/Codebase/Properties
/Codebase/appsettings.json
/Codebase/appsettings.Development.json
/SmiteNoobLeague/.vs/SmiteNoobLeague/v16
/SmiteNoobLeague/obj
/SmiteNoobLeague/appsettings.json
/SmiteNoobLeague/appsettings.Development.json
/SmiteNoobLeague/Properties
/SmiteNoobLeague/.vs/SmiteNoobLeague
/SmiteNoobLeague/bin/Debug/netcoreapp3.1
/SNL_DataAccessLayer/obj
/SNL_DataAccessLayer/bin/Debug/netcoreapp3.1
/SNL_LogicLayer/bin/Debug/netcoreapp3.1
/SNL_LogicLayer/obj
/SNL_InterfaceLayer/obj
/SNL_InterfaceLayer/bin/Debug/netcoreapp3.1
/SNL_UnitTest/bin/Debug/netcoreapp3.1
/SNL_UnitTest/obj
