@{
    ViewData["Title"] = "Home";
}

<body class="fullBG">
    <div class=" container halfTransparent mb-2 mt-5 rounded p-3" id="welcomeScreen">
        <h1 class="display-4">Hello, welcome to the Smite Noob League website!</h1>
        <p class="lead">On this site you can view information about the league, including stats and game results.</p>
        <hr class="my-4">
        <!--<p>If you are intressed in joining the league you can contact Coast_Dazer with the button below and he will get back to you with information on how to do so.</p>-->
        <p>If you want more information about the league click the button below to check out our FAQ page</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg mb-4 btn-block" href="#" role="button">I want Info</a>
        </p>
    </div>
</body>
