<style>

    .buttons {
        display: none;
    }

    .team:hover > .buttons {
        display: flex;
    }

    /* Important part */
    .modal-dialog {
        overflow-y: initial !important;
    }

    .modal-body {
        max-height: 820px;
        overflow-y: auto;
    }
</style>

    <!-- CreateTeamModal -->
<div class="modal fade" id="CreateTeamModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateTeamModalTitle">Create team</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="FormContentCreateTeam">
                    @* @{await Html.RenderPartialAsync("_CreateTeamFormPartial");}*@
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                <button type="button" class="btn btn-primary" onclick="$('#createTeamSubmit').click()">Create Team</button>
            </div>
        </div>
    </div>
</div>

<!-- ManageTeamModal -->
<div class="modal fade" id="ManageTeamModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateTeamModalTitle">Manage teams</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @* fill this with the partial view of manage teams *@
            </div>
        </div>
    </div>
</div>

<!--Player Search Modal-->
<div class="modal fade bd-TeamMemberSearchModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateTeamModalTitle">OOPS!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>