@{
    //Layout = "adminlayout.cshtml";
    ViewData["Title"] = "Admin";
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
        <script type="text/javascript">
            // By default validator ignores hidden fields.
            // change the setting here to ignore nothing
            $.validator.setDefaults({ ignore: null });
        </script>
        <script src="~/js/AdminPageScripts.js"></script>
    }
}

<body class="adminBG">
    <div id="groupedAdminPanels" class="mb-2">
        <div class="row m-2 mt-3">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Update local database</h1>
                        <p class="card-text">Make a call to the Smite API to update te stored items and gods to the current game patch.</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <button class="btn btn-primary btn-lg btn-block">Update gods</button>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-primary btn-lg btn-block">Update items</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Manage Schedules</h1>
                        <p class="card-text">Generate a new schedule for a division or edit an existing one.</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <button class="btn btn-primary btn-lg btn-block">Create schedule</button>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-primary btn-lg btn-block">Edit schedule</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row m-2 mt-3">

            <div class="col-sm-6 p-0">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">Manage accounts</h1>
                            <p class="card-text">Manage existing accounts or create a new one.</p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <button class="btn btn-primary btn-lg btn-block">Create account</button>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-primary btn-lg btn-block">Manage accounts</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">Manage teams</h1>
                            <p class="card-text">Manage existing teams or create a new one.</p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <button class="btn btn-primary btn-lg btn-block" onclick="CreateTeamPopUp()">Create team</button>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-primary btn-lg btn-block" onclick="CreateManagePopUp()">Manage teams</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">Manage divisions</h1>
                            <p class="card-text">Manage existing divisions or create a new one.</p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <button class="btn btn-primary btn-lg btn-block">Create division</button>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-primary btn-lg btn-block">Manage divisions</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <h1 class="card-title">Admin log</h1>
                        <p class="card-text">a log where everything that the site has processed is logged</p>
                        <div class="container bg-dark h-75 text-light overflow-auto">
                            <ul class="list-unstyled">
                                <li>A log entry</li>
                                <li>A log entry</li>
                                <li>A log entry</li>
                                <li>A log entry</li>
                                <li>A log entry</li>
                                <li>A log entry</li>
                                <li>A log entry</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* content end *@
    </div>

    @{await Html.RenderPartialAsync("_TeamModalsPartial"); }

    <!-- Message Modal -->
    <div class="modal fade" id="MessageModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="MessageModalTitle">Message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                </div>
            </div>
        </div>
    </div>
</body>
